<header class="header_section">
  <div class="container-fluid">
    <nav
      class="navbar navbar-expand-lg custom_nav-container pt-3"
      style="height: 10vh"
    >
      <a class="navbar-brand" href="">
        <img
          src="/images/SimplyVital-logo.jpg"
          alt=""
          style="
            width: 50px;
            height: 50px;
            border-radius: 100px;
            box-shadow: 1px 1px 3px 1px rgb(155, 232, 232);
          "
        />
        <span> HealthNexus </span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div
          class="d-flex flex-column flex-lg-row align-items-center w-100 justify-content-between"
        >
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/index"
                ><i class="fa fa-home"></i> Home
                <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link restricted-link" data-href="/medicine">
                <i class="fa  fa-hand-holding-medical"></i> Medicine
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link restricted-link" data-href="/labtests">
                <i class="fa fa-x-ray"></i> LabTests
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link restricted-link" data-href="/Doctors">
                <i class="fa fa-user-nurse"></i> Doctor
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link restricted-link" data-href="/about">
                <i class="fa fa-users-between-lines"></i> About
              </a>
            </li>
          </ul>
          <form class="form-inline" action="/productinfo" method="get">
            <input
              type="search"
              name="search"
              placeholder=" Enter Name of Medicine"
              required
            />
            <button
              class="btn my-2 my-sm-0 nav_search-btn"
              type="submit"
            ></button>
          </form>
          <div class="login_btn-contanier ml-0 ml-lg-5" id="p1">
            <div class="dropdown">
              <button class="dropbtn">
                <img src="/images/user.png" alt="" />
              </button>
              <div class="dropdown-content">
                <a href="/update">Edit details</a>
                <a href="/">Logout</a>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<style>
  .dropbtn {
    background-color: #32aeb1;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  #p1 {
    margin-right: 60px;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #32aeb1;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const loginBtnContainer = document.querySelector(".login_btn-contanier");

    // Check if a token exists in local storage
    const authToken = localStorage.getItem("authToken");

    function showLoginButton() {
      const loginBtn = document.createElement("button");
      loginBtn.className = "dropbtn";
      loginBtn.textContent = "Login";
      loginBtnContainer.innerHTML = "";
      loginBtnContainer.appendChild(loginBtn);
      loginBtn.addEventListener("click", function () {
        window.location.href = "/login"; 
      });
    }

    function showLogoutButton() {
      const logoutBtn = document.createElement("button");
      logoutBtn.className = "dropbtn";
      logoutBtn.textContent = "Logout";
      logoutBtn.addEventListener("click", function () {
        localStorage.removeItem("authToken");
        showLoginButton();
      });
      loginBtnContainer.innerHTML = ""; 
      loginBtnContainer.appendChild(logoutBtn);
    }

    if (authToken) {
      showLogoutButton();
      const restrictedLinks = document.querySelectorAll(".restricted-link");
      restrictedLinks.forEach((link) => {
        link.href = link.getAttribute("data-href");
      });
    } else {
      showLoginButton();
      const restrictedLinks = document.querySelectorAll(".restricted-link");
      restrictedLinks.forEach((link) => {
        link.style.cursor = "pointer";
        link.addEventListener("click", function (event) {
          event.preventDefault();
          window.location.href = "/login";
        });
      });
    }
  
  });
</script>
