<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="/css/index1.css">
    <link rel="icon" type="image/x-icon" href="./images/SimplyVital-logo.jpg">
     
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
          
              
            <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
          
            <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
            <link rel="stylesheet" href="/css1/swiper-bundle.min.css">
          
            <!-- CSS -->
           
          
          
            
            <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700|Roboto:400,700&display=swap" rel="stylesheet">
          
           
            <link href="/css/style.css" rel="stylesheet" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
            <link href="/css/responsive.css" rel="stylesheet" />
            <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
            <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
         
          
            <script src="/js/script.js" defer></script>
            <link href="/css/labtest.css" rel="stylesheet" />
            <script src="/js/lab.js"></script>
</head>

<body>
<div class="hero_area">
    <%- include('./partials/navbar3.ejs') %>

<div class="aboutus-container">
    
   <div class="aboutus-container2">

    <div class="aboutus-image">
        <img src="/images/about.jpg" alt="">
    </div>

    <div class="aboutus-matter">

        <p class="aboutus-head">We are <span>HealthNexus</span> A <br>Medical Clinic</p>
        <p class="aboutus-head2">HealthNexus.com is one of India's most trusted pharmacies, dispensing quality medicines at reasonable prices to over 7
        million happy customers - PAN India. At HealthNexus.com, we help you look after your own health effortlessly as well as take
        care of loved ones wherever they may reside in India. You can buy and send medicines from any corner of the country -
        with just a few clicks of the mouse.</p>

        <div class="abt-button">
         <button class="abt-appointment"><a href="/Doctors">Make an appointment</a></button>
        </div>

    </div>

    </div>
 </div>



<div class="our-services">

   <div class="service-head">
     <h1 style="color: #fff;font-family: 'Times New Roman', Times, serif;">Our Services</h1>
     <p style="color: aliceblue;font-family: 'Times New Roman', Times, serif; font-style: oblique;font-size: larger;font-weight: bold;">Our Medical Services & Specialties</p>
   </div>

   <div class="service-para">

<div class="service-block1">
    <img src="https://img.freepik.com/premium-photo/male-female-paramedics-closing-ambulance-doors_562859-1226.jpg?size=626&ext=jpg&ga=GA1.1.1755737991.1674540218&semt=ais" alt="">
    <div class="service-theory">
     <h2>Emergency Services</h2>
     <p>Emergency services provided by ambulances include rapid medical assistance, transportation of patients to medical facilities.</p>
     </div>
   </div>
    
<div class="service-block2">
    <img src="https://img.freepik.com/free-photo/medical-team-doctor-s-office_23-2148168397.jpg?size=626&ext=jpg&ga=GA1.1.1755737991.1674540218&semt=ais"
        alt="">
    <div class="service-theory">
        <h2>Qualified Doctors</h2>
        <p>Qualified doctors possess the knowledge, skills, and experience to provide competent and compassionate medical care to their patients.</p>
    </div>
</div>
    
        <div class="service-block4">
            <img src="https://img.freepik.com/premium-photo/247-service-icon-support-clicks-screen_438099-7535.jpg?size=626&ext=jpg&ga=GA1.1.1755737991.1674540218&semt=ais"
                alt="24/7">
            <div class="service-theory">
                <h2>24 Hours Service</h2>
                <p>Ambulance 24/7 service provides round-the-clock emergency medical assistance to individuals in need.</p>
            </div>
        </div>

    <div class="service-block3">
        <img src="https://t3.ftcdn.net/jpg/03/25/46/12/240_F_325461257_l4WQ4uUHeduMcxiCwKqEWGLHJIrR04yc.jpg" alt="">
        <div class="service-theory">
            <h2>Outdoors Checkup</h2>
            <p>Outdoors checkup refers to a medical examination or evaluation that is conducted in an outdoor setting, such as a park or outdoor event.</p>
        </div>
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs') %>

</body>

</html>