<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
   <link rel="stylesheet" href="/css/admin.css">
</head>
<body>


  <div class="admin-container">
    <img src="https://img.freepik.com/premium-photo/pastel-paper-origami-geometry-abstract-background_608068-5808.jpg?size=626&ext=jpg&ga=GA1.2.1755737991.1674540218&semt=ais" alt="admin" style="height: 720px;">
  
    <div class="admin-head">
      <p>Admin Page</p>
    </div>
    <div class="admin-bg">
      <img src="/images/admin-bg.png" alt="">
    </div>
<form class="admin-container2">
<p></p>
      <div class="admin-type1">
        <input type="text" id="product-name" name="product-name" placeholder="Product Name">
      </div>
       
      <div class="admin-type2">
        <input type="number" id="product-price" name="product-price" placeholder="Product Price">
      </div>
      
      <div class="admin-type3">
        <input type="number" id="product-quantity" name="product-quantity" placeholder="Product Quantity">
      </div>
      
      <div class="admin-type4">
        <textarea id="product-description" name="product-description" placeholder="Product Description"></textarea>
      </div>

      <div class="admin-type5">
        <label for="product-image">Product Image</label>
        <br><br>
        <input type="file" id="product-image" name="product-image">
      </div>

        <input type="submit" value="Submit">

</form>
</div>
</body>
</html>
  