<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthNexus</title>
   </head>
<body>
   
 <!-- <div class="image">
   <img src="/images/download.jpeg" style="height: 6vh; width: 30px;" alt="">
 </div> -->
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/images/SimplyVital-logo.jpg"alt="">
        <div class="text">
          <span class="text-1">SAVE HEALTH<br> AND</span>
          <span class="text-2">SAVE LIVES..</span>
        </div>
      </div>
      <div class="back">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
          <form action="/adminportal" onsubmit="return loginValidator()" id="form1" method="post">
            <div class="input-box">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Enter your Name" id="name-form1" name="name">
            </div>
              <span class="mrof" id="morf3"></span>
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" id="mail-form1" name="email">
              </div>
                <span class="mrof" id="morf1"></span>
             
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" id="pass-form1" name="password">
              </div>
                <span class="mrof" id="morf2"></span>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input type="password" placeholder="Conformation password" id="cpassword" name="cpassword">
                </div>
                <span class="omrf" id="omrf4"></span>
              <div class="text"><a href="#">Forgot password?</a></div>
              <div class="button input-box" >
                <input type="submit" value="Sumbit">
              </div>
            </div>
        </form>
      </div>
    </div>
    </div>
  </div>
  <script src="/js/login.js"></script>
</body>
</html>
