<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check-out Page</title>
    <link rel="stylesheet" href="/css/payment.css">
</head>
<body>
  <div class="admin-container2">
    <h1>
        Thanks for making an appointment with us<br> <br>

       You will get a Call from our member  Shortly 
       Our menber will  visit you  shortly.
       
       <br>
       <br>
       <br>
       <br>
    </h1>
    <h4 style="text-align: center;"> regards team <a href="/index">HealthNexus</a></h4>
  </div>
</body>