<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>HealthNexus</title>
    <link rel="icon" type="image/x-icon" href="/images/SimplyVital-logo.jpg">
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- font awesome style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

    <link rel="stylesheet" href="/css/Doctors.css">
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700|Roboto:400,700&display=swap"
        rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="/css/Doctorlogin.css" rel="stylesheet" />
</head>

<body>
    <div class="img-logg" id="img-logg">
        <img src="https://img.freepik.com/free-photo/flat-lay-concept-clipboard_23-2148102720.jpg?w=1060&t=st=1694364112~exp=1694364712~hmac=070044f7c99945d4554c4862a330e61bdd01f28de84413113ba2931016c95974" alt="">
    </div>

    <div class="hero_area" id="hero_area" style="position:absolute;top:230px;right:215px;">
<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-black">
            <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                    <form onsubmit="return loginValidator()" style="width: 23rem;" action="/Doctorsportal" method="post">
                        <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                        <span style="color: skyblue;font-size: 32px;">Welcome Back Doctor!</span><br>
                        <span>Let's get you logged in</span>
                           
                          <div class="form-outline mb-3">
                            <input type="email" placeholder="Email address" id="form2Example18" name="email" class="form-control form-control-lg" style="border: 1px solid grey;border-radius:0.3rem;width:362px;padding:23px;" required/>
                            <label class="form-label" for="form2Example18"></label>
                            </div>

                        <div class="form-outline mb-4">
                            <input type="password" placeholder="Password" id="form2Example28" class="form-control form-control-lg" name="password" style="border: 1px solid grey;margin-left:17px" required/>
                            <label class="form-label" for="form2Example28"></label>
                        </div>
                        
                        <input type="submit" id="doct-login" value="Log in" class="doct-login" /><br><br>

                        <p>Don't have an account? <a href="Doctorreg" class="link-info">Register here</a></p>

                    </form>

                </div>

            </div>
        </div>
    </div>
</section>
</div>
                <!-- footer section -->

                <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
                <script type="text/javascript" src="js/bootstrap.js"></script>
                <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
                    </script>






</body>

</html>