<!DOCTYPE html>
<html>

<head>
  
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
 
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link
  rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
  />
  <link rel="stylesheet" href="/css/reviews.css">
    
  <title>HealthNexus</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200&display=swap');
  </style>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css1/swiper-bundle.min.css">

  <!-- CSS -->
  <link rel="stylesheet" href="/css1/style.css">
  
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700|Roboto:400,700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" />
  
  <link href="/css/responsive.css" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="/css1/swiper-bundle.css">
  <link rel="stylesheet" href="/css/style.css"> -->
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

  <script src="/js/script.js" defer></script>
  <script src="/js1/swiper-bundle.min.js" defer></script>
  <script src="/js1/script.js" defer></script>

 
</head>

<body>
  <div class="hero_area">
    <%- include('./partials/navbar1.ejs') %>

    <!-- end header section -->
     
     <!--SLIDER section-->
     <div style="background-color:#32aeb1;">
     <h1 style="color:blue"><marquee>HealthNexus Online Pharmacy  </marquee></h1>
     </div>
 
     <!-- <div class="slidertop"></div> -->
<!-- discount section -->
  <section class="discount_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-5 offset-md-2">
          <div class="detail-box">
            <h2>
              You get <br>
              any medicine <br>
              on
              <span>
                10% discount
              </span>

            </h2>
            <p>
             click On Buy Now to contune shopping
            </p>
            <div>
              <a href="medicine">
                Buy Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-5">
          <div class="img-box">
            <img src="/images/download-removebg-preview-fotor-bg-remover-2023032022277.png">
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end discount section -->

 <br>
 <br>
 <div class="lab">
    <div class="headsell1">
      <h1 style="color: rgb(255, 0, 13);"><marquee>LABTESTS</marquee></h1>
     <br>
       <div style="display: flex;">
        <a href="labtests" ><img src="/images/1581428021_Web_Landingabc_Banner.jpg" style="height: 50vh ; width: 80%;"></a>
        <a href="labtests" ><img src="/images/Banner-02-scaled.jpg" style="height: 50vh ; width: 80%;"></a>
       </div> 
   </div>
 </div>
 <section class="discount_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-5 offset-md-2">
        <div class="detail-box">
          <h2>
            CONSULT TOP <br>
            DOCTORS <br>
            FREE VIRTUALLY
            <span>
              GET WELL SOON
            </span>

          </h2>
          <p>
           click On CONTACT NOW to visit doctors
          </p>
          <div>
            <a href="Doctors">
              CONTACT NOW
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-5">
        <div class="img-box">
          <img src="/images/WhatsApp Image 2023-03-19 at 19.21.26-fotor-bg-remover-20230320222147.png" style="width: 85%; height: 55vh; margin-left: 80px;">
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>

<!-- End of Doctors section -->
<div class="container">
  <div class="board">
      <h2 class="text-light">Word form our customers</h2>
      <p class="text-light">Some of the fullfilled customers reviews</p>

      <!-- Slider main container -->
      <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
              <div class="flex">
                  <div class="comments">
                      Good , Products are avaliable at resanoble price 
                  </div>
                  <div class="profile">
                      <img src="/images/Nithin.jpg" alt="">
                      <a href="#">C.Nithin</a>
                      <span>CUSTOMER</span>
                  </div>
              </div>
          </div>
          <div class="swiper-slide">
              <div class="flex">
                  <div class="comments">
                    Very Resoanable Prices, Good quality products 
                   </div>
                  <div class="profile">
                      <img src="/images/venkat.jpg" alt="">
                      <a href="#">K.venkat</a>
                      <span>Customer</span>
                  </div>
              </div>
          </div>
          <div class="swiper-slide">
              <div class="flex">
                  <div class="comments">
                     Delivery is fast good price , Need to improve products
                  </div>
                  <div class="profile">
                      <img src="/images/Nithin.jpg" alt="">
                      <a href="#">C.Nithin</a>
                      <span>Customer</span>
                  </div>
              </div>
          </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
      
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
  
      </div>

  </div>
</div>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="/js/main.js"></script>
<br>
<br>
<!-- info section -->

<!-- end info section -->
<!-- end info section -->

<!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2023 All Rights Reserved. Design by
      <a href="/">HealthNexus</a>
    </p>
  </section>
<!-- footer section -->

<script src="/js1/swiper-bundle.min.js"></script>

<!-- JavaScript -->
<script src="/js1/script.js"></script>

</body>
</html>