<!DOCTYPE html>
<html>

<head>

  <head>

    <head>

      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="author" content="" />

      <title>HealthNexus</title>
      <link rel="icon" type="image/x-icon" href="/images/SimplyVital-logo.jpg" />
      <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200&display=swap");
      </style>
      <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />


      <link rel="stylesheet" href="/css/bootstrap.css" />

      <!-- CSS -->
      <link rel="stylesheet" href="/css1/style.css" />

      <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700|Roboto:400,700&display=swap"
        rel="stylesheet" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap" rel="stylesheet" />
      <link href="/css/style.css" rel="stylesheet" />

      <link href="/css/responsive.css" rel="stylesheet" />
      <!-- <link rel="stylesheet" href="/css1/swiper-bundle.css">
  <link rel="stylesheet" href="/css/style.css"> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

      <script src="/js/script.js" defer></script>
      <script src="/js1/swiper-bundle.min.js" defer></script>
      <script src="/js1/script.js" defer></script>
      <style>
        /* CSS for the preloader */
        .preloader-container {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.9);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 9999;
          /* Ensure it's on top of everything */
        }

        .preloader {
          border: 8px solid #f3f3f3;
          border-top: 8px solid #3498db;
          /* Loading spinner color */
          border-radius: 50%;
          width: 50px;
          height: 50px;
          animation: spin 2s linear infinite;
          /* Animation duration and style */
        }

        /* Keyframes for the spinner animation */
        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }

        /* CSS for the preloader with fade-in animation */
        .preloader-container {
          animation: fade-in 1s ease-in-out;
        }

        @keyframes fade-in {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }

        /* CSS for adjusting font size for smaller screens */
        @media (max-width: 768px) {
          h1 {
            font-size: 24px;
          }
        }

        /* CSS for button hover effect */
        .btn-primary {
          transition: background-color 0.3s, color 0.3s;
        }

        .btn-primary:hover {
          background-color: #007bff;
          color: #ffffff;
        }

        /* CSS for responsive images */
        img {
          max-width: 100%;
          height: auto;
        }
      </style>
    </head>

  <body>
    <div class="preloader-container" id="preloader">
      <div class="preloader"></div>
    </div>
    <div class="hero_area" style="height: 10vh;">
      <%- include('./partials/navbar1.ejs') %>
        <!--SLIDER section-->
        <div style="background-color: #32aeb1">
          <h2 style="color: rgb(0, 0, 0)">
            <marquee><b>HealthNexus Online Pharmacy</b></marquee>
          </h2>
        </div>
        <div class="main">
          <div id="slider">
            <figure>
              <img src="/images/1677605292_Web_Home_Bannersgdgsd.jpg" />
              <img src="/images/1678990885_Healthvit_wellness_web.jpg" />
              <img src="/images/1677605378_Web_Home_Bannersguguui.jpg" />
              <img src="/images/1677684779_Web_Homekkkkkk.jpg" />
              <img src="/images/slider4.png" />
            </figure>
          </div>
        </div>
    </div>

    <!-- <div class="slidertop"></div> -->
    <!-- discount section -->
    <section class="discount_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-5 offset-md-2">
            <div class="detail-box">
              <h2>
                You get <br />
                any medicine <br />
                on
                <span> 10% discount </span>
              </h2>
              <p>click On Buy Now to contune shopping</p>
              <div>
                <a href="medicine"> Buy Now </a>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-5">
            <div class="img-box">
              <img src="/images/download-removebg-preview-fotor-bg-remover-2023032022277.png" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end discount section -->

    <!-- ----self section---- -->
    <br />
    <div class="self">
      <div class="self_section" style="padding: 40px; margin: 20px 40px">
        <img src="https://www.pngfind.com/pngs/m/170-1707648_truck-fast-delivery-speed-svg-png-icon-free.png"
          style="height: 100px; margin-left: 150px" />
        <br />
        <br />
        <h4>we assure safe and fastest delivery</h4>
      </div>
      <div class="self_section" style="padding: 40px; margin: 20px 40px">
        <img src="https://www.shutterstock.com/image-illustration/best-price-guarantee-label-icon-260nw-259618541.jpg"
          style="height: 100px; margin-left: 100px" />
        <br />
        <br />
        <h4>On of the top selling site</h4>
      </div>
      <div class="self_section" style="padding: 40px; margin: 20px 40px">
        <img src="https://www.shutterstock.com/image-vector/medical-team-icon-260nw-689072647.jpg"
          style="height: 100px; margin-left: 110px" />
        <br />
        <br />
        <h4>Consult Top doctors at free</h4>
      </div>
    </div>
    <!-- ----end of self section---- -->
    <br />
    <br />
    <div class="lab">
      <div class="headsell1">
        <h1 style="color: #000">
          <marquee><b>LABTESTS</b></marquee>
        </h1>
        <br />
        <div style="display: flex; justify-content: space-around">
          <a href="labtests"><img src="/images/1581428021_Web_Landingabc_Banner.jpg"
              style="height: 50vh; width: 80%" /></a>
          <a href="labtests"><img src="/images/Banner-02-scaled.jpg" style="height: 50vh; width: 80%" /></a>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <!-- Doctors section -->
    <div class="doctor">
      <div class="headsell">
        <div>
          <h1><b>DOCTORS</b></h1>
        </div>
        <div class="offerout">
          <div class="offeron">
            <div class="doctorin">
              <img src="/images/d5.jpg" style="height: 200px; margin: 5px 40px" />
              <br />
              <br />
              <h5>Dr. M S Pushkala</h5>
              <br />
              <h6>
                Urologist, Robotic Surgeon | Urologist And Robotic Prostate
                Surgeon
              </h6>
            </div>
          </div>
          <div class="offeron">
            <div class="doctorin">
              <img src="/images/d4.jpg" style="height: 200px; margin: 5px 40px" />
              <br />
              <br />
              <h5>Dr. R kaladevi</h5>
              <br />
              <h6>
                Endocrinologists commonly treat diabetes, thyroid dysfunction,
                and reproductive health.
              </h6>
            </div>
          </div>
          <div class="offeron">
            <div class="doctorin">
              <img src="/images/d2.jpg" style="height: 200px; margin: 5px 40px" />
              <br />
              <br />
              <h5>Dr.M BhanuPriya</h5>
              <br />
              <h6>
                A neurologist focuses on the anatomy, functions, and disorders
                of the nerves and nervous systems
              </h6>
            </div>
          </div>
          <div class="offeron">
            <div class="doctorin">
              <img src="/images/d1.jpg" style="height: 200px; margin: 5px 40px" />
              <br />
              <br />
              <h5>Dr Vishal Rao</h5>
              <br />
              <h6>
                Allergist/Immunologists are trained to treat allergies and
                disease of the immune system, such as asthma.
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Doctors section -->
    <br />
    <br />
    <!-- info section -->
    <%- include('./partials/footer.ejs') %>

      <!-- end info section -->

      <!-- footer section -->
      <section class="container-fluid footer_section">
        <p>
          &copy; 2023 All Rights Reserved. Design by
          <a href="/">HealthNexus</a>
        </p>
      </section>
      <!-- footer section -->

      <script src="/js1/swiper-bundle.min.js"></script>
      <script src="/js1/swiper-bundle.min.js"></script>

      <!-- JavaScript -->
      <script src="/js1/swiper-bundle.min.js"></script>

      <!-- JavaScript -->
      <script src="/js1/script.js"></script>
      <script src="/js/cart.js"></script>
      <script>
        window.addEventListener('load', function () {
          const preloader = document.getElementById('preloader');
          preloader.style.display = 'none';
        });
      </script>
  </body>

</html>