<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthNexus</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />   
    <link rel="stylesheet" href="/css/forgot.css">
    <style>
      .edit{
        background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
        font-size: 20px;
      }
    </style>
   </head>        
      <body class="bg-info">
        <div class="container">
          <!-- Login Form Start -->
          <div class="row justify-content-center wrapper" id="login-box">
            <div class="col-lg-10 my-auto myShadow">
              <div class="row">
                <div class="col-lg-7 bg-white p-4">
                  <h1 class="text-center font-weight-bold text-primary">Sign in to Account</h1>
                  <hr class="my-3" />
                  <form onsubmit="return loginValidator()" action="/login" action="/edit" id="form1" method="post" class="px-3" id="login-form">
                    
                    <div class="input-group input-group-lg form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text rounded-0"><i class="far fa-user fa-lg fa-fw"></i></span>
                    </div>
                      <input type="text" id="name-form1" name="name" class="form-control rounded-0" placeholder="Username" pattern="[A-Za-z]+" required  />
                    </div>
                      <span class="mrof" id="morf3"></span>
                    <div class="input-group input-group-lg form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text rounded-0"><i class="far fa-envelope fa-lg fa-fw"></i></span>
                      </div>
                      <input type="email" id="mail-form1" name="email" class="form-control rounded-0" placeholder="E-Mail" required />
                    </div>
                    <span class="mrof" id="morf1"></span>
                    <div class="input-group input-group-lg form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text rounded-0"><i class="fas fa-key fa-lg fa-fw"></i></span>
                      </div>
                      <input type="password" id="pass-form1" name="password" class="form-control rounded-0" minlength="5" placeholder="Password" required autocomplete="off" />
                    </div>
                    <span class="mrof" id="morf2"></span>
                    <div class="form-group clearfix">
                      <div class="custom-control custom-checkbox float-left">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="rem" />
                        <label class="custom-control-label" for="customCheck">Remember me</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="submit" id="login-btn" value="Sign In" class="btn btn-primary btn-lg btn-block myBtn" />
                    </div>
                  </form>
                </div>
                <div class="col-lg-5 d-flex flex-column justify-content-center myColor p-4">
                  <h1 class="text-center font-weight-bold text-white">Welcome to HealthNexus</h1>
                  <hr class="my-3 bg-light myHr" />
                  <p class="text-center font-weight-bolder text-light lead">Enter your personal details and start your journey with us!</p>
                  <button class="btn btn-outline-light btn-lg align-self-center font-weight-bolder mt-4 myLinkBtn" id="register-link">Sign Up</button>
                </div>
              </div>
            </div>
          </div>     
</form>
<form onsubmit="return signupValidator()" action="/register" method="post" id="form2">
  <div class="row justify-content-center wrapper" id="register-box" style="display: none;">
    <div class="col-lg-10 my-auto myShadow">
      <div class="row">
        <div class="col-lg-5 d-flex flex-column justify-content-center myColor p-4">
          <h1 class="text-center font-weight-bold text-white">Welcome Back!</h1>
          <hr class="my-4 bg-light myHr" />
          <p class="text-center font-weight-bolder text-light lead">To keep connected with us please login with your personal info.</p>
          <button class="btn btn-outline-light btn-lg font-weight-bolder mt-4 align-self-center myLinkBtn" id="login-link">Sign In</button>
        </div>
        <div class="col-lg-7 bg-white p-4">
          <h1 class="text-center font-weight-bold text-primary">Create Account</h1>
          <hr class="my-3" />
          <form action="#" method="post" class="px-3" id="register-form">
            <div class="input-group input-group-lg form-group">
              <div class="input-group-prepend">
                <span class="input-group-text rounded-0"><i class="far fa-user fa-lg fa-fw"></i></span>
              </div>
              <input type="text"id="name" name="name" class="form-control rounded-0" placeholder="Full Name" pattern="[A-Za-z]+" required />
            </div>
            <span class="omrf" id="omrf1"></span>
            <div class="input-group input-group-lg form-group">
              <div class="input-group-prepend">
                <span class="input-group-text rounded-0"><i class="far fa-envelope fa-lg fa-fw"></i></span>
              </div>
              <input type="email" id="email" name="email" class="form-control rounded-0" placeholder="E-Mail" required />
            </div>
            <span class="omrf" id="omrf2"></span>
            <div class="input-group input-group-lg form-group">
              <div class="input-group-prepend">
                <span class="input-group-text rounded-0"><i class="fas fa-key fa-lg fa-fw"></i></span>
              </div>
              <input type="password" id="password" name="password" class="form-control rounded-0" minlength="5" placeholder="Password" required />
            </div>
            <span class="omrf" id="omrf3"></span>
            <div class="input-group input-group-lg form-group">
              <div class="input-group-prepend">
                <span class="input-group-text rounded-0"><i class="fas fa-key fa-lg fa-fw"></i></span>
              </div>
              <input type="password"  id="cpassword" name="cpassword" class="form-control rounded-0" minlength="5" placeholder="Confirm Password" required />
            </div>
            <span class="omrf" id="omrf4"></span>
            <div class="form-group">
              <div id="passError" class="text-danger font-weight-bolder"></div>
            </div>
            <div class="form-group">
              <input type="submit" id="register-btn" value="Sign Up" class="btn btn-primary btn-lg btn-block myBtn" />
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
</form>
  
  <div class="row justify-content-center wrapper" id="forgot-box" style="display: none;">
    <div class="col-lg-10 my-auto myShadow">
      <div class="row">
        <div class="col-lg-7 bg-white p-4">
          <h1 class="text-center font-weight-bold text-primary">Forgot Your Password?</h1>
          <hr class="my-3" />
          <p class="lead text-center text-secondary">To reset your password, enter the registered e-mail adddress and we will send you password reset instructions on your e-mail!</p>
          <form action="#" method="post" class="px-3" id="forgot-form">
            <div id="forgotAlert"></div>
            <div class="input-group input-group-lg form-group">
              <div class="input-group-prepend">
                <span class="input-group-text rounded-0"><i class="far fa-envelope fa-lg"></i></span>
              </div>
              <input type="text" class="form-control rounded-0" placeholder="E-Mail" required />
            </div>
            <div class="form-group">
              <input type="submit" id="forgot-btn" value="Reset Password" class="btn btn-primary btn-lg btn-block myBtn" />
            </div>
          </form>
        </div>
        <div class="col-lg-5 d-flex flex-column justify-content-center myColor p-4">
          <h1 class="text-center font-weight-bold text-white">Reset Password!</h1>
          <hr class="my-4 bg-light myHr" />
          <button class="btn btn-outline-light btn-lg font-weight-bolder myLinkBtn align-self-center" id="back-link">Back</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Forgot Password Form End -->
</div>
  <script src="/js/login.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/forgot.js"></script>
</body>
</html>
