<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page</title>
   <link rel="stylesheet" href="/css/payment.css">
</head>
<body>


  <div class="admin-container">
    <img src="">
  
    <div class="admin-head">
      <p>Payment Gateway</p>
    </div>
    <div class="admin-bg">
      <img src="/images/admin-bg.png" alt="">
    </div>
<form class="admin-container2">
<p></p>
      <div class="admin-type1">
        <h1>Product-Name</h1>
      </div>
       
      <div class="admin-type2">
      <h1> Product-price</h1>
      </div>
      
      <div class="admin-type3">
        <input type="number" id="no of persons" name="no of persons" placeholder=" No of people">
      </div>
      
      <div class="admin-type4">
        <textarea id=" Delivery adress" name="delivery adress" placeholder="Add Delivery adress"></textarea>
      </div>

      <div class="admin-type5">
       <img src="/images/payment.png">
      </div>

    <input type="submit" value="Submit">

</form>
</div>
</body>
</html>
  