*,*::after,*::before{
    box-sizing: border-box;
}
.doctor-container img{
    width: 100%;
    height: 480px;
    opacity: 0.1;
}

.doctor-container{
   background-color: rgba(9,30,62,.85);
   /* padding: 20px 0; */
   background-size: cover;
   position: relative;
}
input[type=text],
input[type=email],
input[type=date],
input[type=time],
input[type=tel]{
margin-left: 20px;
    border: none;
    margin-top: 30px;
    width: 250px;
    height: 35px;
}

.doct-appointment{
    background-size: cover;
}

.appointment{
    position: absolute;
    top: 0;
    height: 100%;
    /* border: 2px solid red; */
    padding: 30px ;
    animation: slider 1s;
    /* animation-delay: 0.6s; */
    /* animation-name: slider; */
    background-color: rgba(6, 163, 218, .7);
    right: 100px;
}

.doct-appointment .doctor-container .input-values{
    padding: 20px;

}

.doct-appointment .doctor-container .input-values input{
    margin-left: 20px;
    border: none;
    width: 250px;
    height: 35px;
    padding-left: 15px;
}

.doct-appointment .doctor-container .appointment-duration {
    padding: 20px;
}



.doct-appointment .doctor-container .appointment-duration input {
    margin-left: 20px;
    border: none;
    width: 250px;
    height: 35px;
    padding-left: 15px;
}

input:focus{
    outline: none;
}

.doct-appointment .doctor-container .option-class{
    padding: 20px;
}

.doct-appointment .doctor-container .option-class select{
    margin-left: 16px;
        border: none;
        width: 250px;
        height: 35px;
}

.doct-appointment .doctor-container .appointment .appointment-button{
    padding: 6px 185px;
    margin-left: 85px;
    margin-top: 20px;
    background-color: #091E3E;
    color: #ffffff;
}

.doct-appointment .doctor-container .appointment h4{
    color: whitesmoke;
   
    font-family: 'Jost', sans-serif;

}

.doct-appointment .doctor-container .appointment h2{
    color: whitesmoke;
    font-family: 'Jost', sans-serif;

}

.doct-appointment .doctor-container .timings-appoinment{
    position: absolute;
    /* border: 2px solid red; */
    color: white;
    z-index: 1;
    top: 30px;
    left: 200px;
    text-align: center;
    animation: slider 1s;
}

.doct-appointment .doctor-container .timings-appoinment h2,
.doct-appointment .doctor-container .timings-appoinment h3{
    color: lightgreen;
}

@media (max-width: 1285px){
.doct-appointment .doctor-container .timings-appoinment{
    visibility: hidden;
}
}

@media (max-width: 756px) {
    .doct-appointment .doctor-container .timings-appoinment {
        visibility: hidden;
    }
    .appointment {
            position: absolute;
            top: 0;
            height: 100%;
            /* border: 2px solid red; */
            padding-left: 0px;
            text-align: center;
            background-color: rgba(6, 163, 218, .7);
            right: 0px;
        }

        .appointment-top{
            padding: 20px;
        }
    
        .doct-appointment .doctor-container .input-values {
            padding: 20px;
    
        }
    
        .doct-appointment .doctor-container .input-values input {
            margin-left: 20px;
            border: none;
            width: 250px;
            height: 35px;
            padding-left: 15px;
            /* padding-top: 20px; */
        }
        .doct-appointment .doctor-container .input-values .maill{
            margin-top: 15px;
        }
        .doct-appointment .doctor-container .appointment-duration {
            padding: 20px;
        }
    
        .doct-appointment .doctor-container .appointment-duration input {
            margin-left: 20px;
            border: none;
            width: 250px;
            height: 35px;
            padding-left: 15px;
            /* padding-top: 20px; */
        }
.doct-appointment .doctor-container .appointment-duration .Appointment-Time{
    margin-top: 15px;
}
        .doct-appointment .doctor-container .option-class {
            padding: 20px;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
        }

        
    
        .doct-appointment .doctor-container .option-class select {
            margin-left: 20px;
            border: none;
            width: 250px;
            height: 35px;
            margin-top: 20px;
        }
        .doct-appointment .doctor-container .option-class #doctors1{
                    margin-left: 20px;
                    border: none;
                    width: 250px;
                    height: 35px;
                    margin-top: 20px;
                }
.doct-appointment .doctor-container .appointment .appointment-button {
    padding: 6px 120px;
    margin-left: 40px;
    margin-top: 20px;
    background-color: #091E3E;
    color: #ffffff;
}
.doctor-container{
    height: 600px;
}
.option-class .phoneNumber{
    margin-left: 40px;
    margin-top: 20px;
   padding-left: 30px;
}

@keyframes slider { 
    0%{
      opacity: 0;
      transform: scale3d(.3,.3,.3);
    }
    50%{
        opacity:1;
    }
}}









/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}



