.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}
form{
    margin-top: 0;
}
input[type="submit"]{
    width: 180px;
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
    margin-left: 15px;
    background-color: skyblue;
    border: none;
}

.img-logg
{
position: relative;
}
   

.img-logg img
{
width: 1570px;
    height: 750px
}

/* img{
object-fit: cover;
width: 500px;
} */
a{
    color: skyblue;
}
@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}