body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: white;
  margin: 0;
}

/* PRODUCTS */
.product {
  position: relative;
  overflow: hidden;
  /* padding: 20px; */
  padding-left: 0;
  padding-right: 0;
  background:  linear-gradient(to bottom,rgb(36, 174, 177) 0%,
    rgb(36, 174, 177) 40%,
    #d3d4d6 40%,
    #f3f7fb 100% 
   ); 
}

.product-category {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  background-color: #24aeb1;
  padding: 10px;
  align-items: flex-start; /* Align the category text to the left */
}

.left-alp {
  display: flex; /* Make it a flex container */
  align-items: flex-start; /* Align items to the start (top) of the container */
  color: #fff;
}

.product-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior:smooth;
  padding: 10px;
  gap: 20px;
  border-radius: 15px;
  background: linear-gradient(to bottom, rgb(36, 174, 177) 0%, rgb(36, 174, 177) 40%, #d3d4d6 40%, #f3f7fb 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  align-items: flex-start; /* Align items at the start of the container */
}


.product-container::-webkit-scrollbar {
  display: none;
}

.product-container::before {
  content: ''; /* Create a pseudo-element for spacing */
  width: 10px; /* Adjust the width as needed */
}

/* Add animations to product cards on hover */
.product-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-card {
  flex: 0 0 auto;
  /* width: 250px; */
  height: 95%;
  /* margin-right: 12px; */
  margin-top: 1%;
  /* border: 2px solid red; */
  border-radius: 20px;
 width: 258.42px; 
 margin-right: 8px;
 background-color: white;
}

.product-image {
  /* position: relative;
  height: 50vh;
  overflow: auto; */
  border-radius: 25px;
  width: 100%;
  
  display: flex;
  margin: 0 auto 8px;
  /* padding: 0 0px; */
  height: 55%;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
  border-radius: 25px;
  box-sizing: content-box;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}


/* .card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
} */

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn {
  background: #24aeb1;
    width: 92%;
    font-size: 14px;
    margin: 0 4%;
    border-radius: 4px;
    padding: 11px 0 7px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-family: LatoBold!important;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.card-btn:hover {
  background-color: #1c8c92; 
}

.product-info {
  width: 100%;
  height: 80px;
  /* padding-top: 10px; */
  text-align: center;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
   font-weight: 900;
  /* font-size: 20px;  */
  font-size: 14px;
    line-height: 20px;
    font-family: LatoBold;
    color: #0b1219;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.8;
  text-decoration: line-through;
  text-align: left;
    font-family: LatoBold;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.3s ease-in-out;
}

.pre-btn:focus{
  outline: none;
  box-shadow: none;
}

.nxt-btn:focus{
  outline: none;
  box-shadow: none;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover,
.nxt-btn:hover {
  background-color: rgba(14, 142, 233, 0.8);
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.7;
}

.product-brand {
  font-size: 16px;
  color: #0b1219;
  font-family: LatoSemiBold;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

/* navigation bar for alphabetcal order */
.h4 {
  color: rgb(50, 174, 177);
  font-size: 25px;
  font-weight: 300;
}
.cat {
  color: rgb(50, 174, 177);
  font-size: 40px;
  font-weight: normal;
}
/* Style for the entire table */
table {
  width: 100%;
  border-collapse: collapse; /* Remove cell spacing */
  margin-bottom: 20px; /* Add some spacing below the table */
  border: 2px solid #24aeb1; /* Add a border with a color of your choice */
  border-radius: 10px; /* Add rounded corners */
  overflow: hidden; /* Hide any content that goes beyond the table */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  background-color: #fff; /* Background color for the table */
}

/* Style for table headers */
th {
  background-color: #24aeb1; /* Header background color */
  color: #fff; /* Header text color */
  font-weight: bold; /* Bold font for headers */
  text-align: center; /* Center-align header text */
  padding: 10px; /* Add padding to headers for spacing */
}

/* Style for table cells */
td {
  border-right: 1px solid #ccc; /* Add a border between cells */
  padding: 10px; /* Add padding to cells for spacing */
  text-align: center; /* Center-align cell text */
  font-size: 16px; /* Font size for cell text */
  color: #333; /* Cell text color */
}

/* Hover effect for table rows */
tr:hover {
  background-color: #f3f7fb; /* Background color on hover */
}

/* Style for table links */
a:link,
a:visited {
  color: #24aeb1; /* Link color */
  text-decoration: none; /* Remove underlines from links */
  font-weight: bold; /* Bold font for links */
}

/* Hover effect for table links */
a:hover {
  color: #1c8c92; /* Link color on hover */
  text-decoration: underline; /* Add underline on hover */
}

/* selected link */
a:active {
  color: blue;
}

.ln-disabled {
  color: #ccc;
  cursor: default;
}

#MedPage {
  background-color: #f5f3f4;
}

#info {
  margin-left: 3%;
  margin-right: 5%;
}

@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .product-category {
    font-size: 30px;
  }
  
  .product-container {
    padding: 5px;
    gap: 10px;
  }
  
  
}

/* Style the cart button */
.cart {
  margin: 10px 30px;
  width: 80%;
  background-color: #32aeb1;
  color: #fff; /* Text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding to the button */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Add a pointer cursor on hover */
  font-size: 16px; /* Font size */
  font: weight 100px;; /* Bold text */
  transition: background-color 0.3s ease, transform 0.2s ease-in-out; /* Add smooth transitions */
}

/* Change button color on hover */
.cart:hover {
  background-color: #1c8c92; /* New background color on hover */
  transform: scale(1.05); /* Add a scale effect on hover */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow on hover */
}

/* Add a pulse animation on button click */
.cart:active {
  animation: pulse 0.3s ease infinite; /* Use the pulse animation on button click */
}

/* Define the pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
